* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

html,
body,
#app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
html {
    font-family: Heebo;
    font-size: 1.3125rem;
    line-height: 1.6;
}
a{
    outline: none;
}

.table {
    margin-inline: auto;
    width: min(90%, 70.5rem);
    padding: 2.125rem;
}
